*.lock
._*
.appkey
.composer
.git
.idea/
data/.studio*
data/cache/*
data/config/config.yml
data/log/*
data/studio*.db
data/web-repos/*
data/web/*
node_modules/
package-lock.json
vendor/
yarn-error.log
