*.lock
._*
.appkey
.composer
.idea/
.npm
.svn
data/.studio*
data/cache/
data/log/
data/studio*.db
data/web-repos
data/web/_/fa-solid-900.*
data/web/_/quill.min.js.map
data/web/_/s-*
data/web/_/z-*
node_modules/
package-lock.json
vendor/
yarn-error.log
