---
services:
  studio:
    hostname: studio
    container_name: studio
    image: tecnodesign/studio:v2
    volumes:
      - studio-config:/opt/studio/config:Z
      - studio-data:/opt/studio/data:Z
    environment:
      - STUDIO_CACHE_KEY=studio
      - STUDIO_CACHE_STORAGE="redis://redis.studio:6379/"
## Uncomment the following lines to enable dev environment
#    volumes:
#      - ".:/var/www/studio:Z"
#    environment:
#      - STUDIO_ENV=dev
#      - STUDIO_APP_ROOT=/var/www/studio
#      - STUDIO_PROJECT_ROOT=/var/www/studio
#      - STUDIO_DATA=/var/www/studio/data
#      - STUDIO_DOCUMENT_ROOT=/var/www/studio/data/web
#      - STUDIO_INIT="-v"
#    healthcheck:
#      test: [ "CMD", "curl", "-f", "http://web.studio:9999/_me?healthcheck" ]
#      interval: 60s
#      retries: 5
#      start_period: 20s
#      timeout: 30s
#  mongodb.studio:
#    hostname: mongodb.studio
#    container_name: mongodb.studio
#    image: mongo:latest
#    volumes:
#      - studio-db:/data/db:Z
#    ports:
#      - 27017:27017
  redis.studio:
    hostname: redis.studio
    container_name: redis.studio
    image: redis:alpine
  web.studio:
    hostname: web.studio
    container_name: web.studio
    image: nginx:alpine
    volumes:
      - ./data/deploy/nginx:/etc/nginx/conf.d:Z
    ports:
      - 9999:9999
volumes:
  studio-config:
  studio-data:
  studio-db: