@borderRadius: 0;
@borderSize: 0.1em;
@tabSpacing: 1px;
@bigScreenBreakPoint: 1280px;
@mobileBreakPoint: 640px;
@mobileBreakPoint1: 640px;
@mobileBreakPoint2: 544px;
@mobileBreakPoint3: 448px;
@lh: 1.5em;
@fieldPaddingLeft: 0.5em;
@fieldPaddingRight: 0.5em;

:root {
--s-fontAwesomePath: ~"@{studio-url}";
--s-studio-logo: "@{studio-url}/studio-logo.svg";
--s-iconFont: "FontAwesome";
--s-imageNavigation: url("@{studio-url}/studio-logo.svg");
--s-iconNavigationToggler: '\f054';
--s-iconNavigationTogglerActive: '\f053';
--s-iconNavigationItemToggler: '\f106';
--s-iconNavigationItemTogglerActive: '\f107';
--s-iconActionsMenu: '\f0c9';
--s-iconDefault: '\f105';
--s-iconNavigationItem: ' ';
--s-iconNavigationItemChild: '\f105';
--s-iconDocument: '\f15b';
--s-iconList:     '\f002';
--s-iconReport:   '\f381';
--s-iconDelete:   '\f2ed';
--s-iconUpdate:   '\f044';
--s-iconPreview:  '\f06e';
--s-iconSearch:   '\f002';
--s-iconFilter:   '\f0b0';
--s-iconNew:      '\f0fe';
--s-iconRefresh:  '\f021';
--s-iconClose:    '\f00d';
--s-iconUp:       '\f106';
--s-iconDown:     '\f107';
--s-iconLeft:     '\f104';
--s-iconRight:    '\f105';
--s-iconShare:    '\f064';
--s-iconText:     '\f15c';
--s-iconFile:     '\f093';
--s-iconUrl:      '\f0c1';
--s-iconToggle:   '\f111';
--s-iconPdf:      '\f1c1';
--s-iconVideo:    '\f03d';
--s-iconReload:   '\f021';
--s-iconSubmit:   '\f00c';
--s-iconConnect:  '\f135';
--s-iconBackup:   '\f382';
--s-iconConfig:   '\f085';
--s-iconExternal: '\f35d';
--s-iconTooltip:  ' \f059';
--s-icon-default-action: "\f105";
--s-iconSettings: "\f013";
--s-iconBreadcrumbs: " \f105 ";
--s-iconUpload: ' \f00d';
--s-iconAdd: '\f055';
--s-iconRemove: '\f056';
--s-iconSwitch:"\f0c9";
--s-icon-search: "\f0b0";
--s-icon-search-input:'\f002';
--s-msg: #039;
--s-msgBackground: #def;
--s-error: #900;
--s-errorLight: #fcc;
--s-link: #039;
--s-visited: #309;
--s-hover: #ff8000;
--s-active: #ff8000;
--s-color1: #0cf;
--s-color2: #f09;
--s-colorAlt: var(--s-color2);
--s-colorAltText: #fff;
--s-colorBackground: #ddd;
--s-colorBackgroundLight: #eee;
--s-colorBackgroundDark: #ccc;
--s-colorForeground: #555;
--s-colorForegroundLight: #aaa;
--s-colorTag: var(--color1);
--s-colorTagText: #fff;
--s-colorApiBackground: linear-gradient(to bottom,#333336 0,#999 100%) no-repeat;
--s-colorBody: transparent;
--s-colorHeader: linear-gradient(to bottom, transparent 0,transparent 2em,var(--s-color1) 2em,var(--s-color1) 100%) no-repeat;
--s-colorHeaderBorder: var(--s-color1);
--s-headerBorder: @borderSize;
--s-headerMargin: 2em;
--s-colorHighlight: #fd9;
--s-colorActive: #ff8000;
--s-colorActiveOn: #ffaa33;
--s-colorActiveOnText: var(--s-link);
--s-color: #f0f3f6;
--s-colorText: #000;
--s-colorGray: #999;
--s-colorBorder: #aaa;
--s-colorSummary: var(--s-color);
--s-colorSummaryText: var(--s-colorText);
--s-colorTab: #ddd;
--s-colorTabText: var(--s-colorForeground);
--s-colorTabBorder: #fff;
--s-colorTabShade: linear-gradient( to left, rgb(204, 204, 204) 0%, rgba(204, 204, 204, 0) 100%);
--s-colorTabActive: #0cf;
--s-colorTabActiveText: #fff;
--s-colorTabActiveShade: linear-gradient( to left, rgb(0, 107, 238) 0%, rgba(0, 107, 238, 0) 100%);
--s-colorHeading: var(--s-color1) - #222;
--s-colorHeadingText: var(--s-colorTabActiveText);
--s-colorButton: var(--s-colorBackgroundDark);
--s-colorButtonText: var(--s-colorForeground);
--s-colorButtonSubmit: var(--s-colorTabActive);
--s-colorButtonSubmitText: var(--s-colorTabActiveText);
--s-colorButtonActive: var(--s-colorTabActive);
--s-colorButtonActiveText: var(--s-colorForeground) - #222;
--s-colorButtonSubmitActive: var(--s-colorTabActive) - #333;
--s-colorButtonSubmitActiveText: var(--s-colorTabActiveText);
--s-labelNavigation: ' ';
--s-colorNavigation: var(--s-colorBackground);
--s-colorNavigationSub: rgba(0,0,0,0.15);
--s-colorNavigationText: var(--s-color2);
--s-colorNavigationLink: var(--s-colorForeground);
--s-colorNavigationVisited: var(--s-colorForeground) + #111;
--s-colorNavigationActive: var(--s-color2);
--s-colorNavigationCurrent: var(--s-color2);
--s-colorBreadcrumbs: var(--s-colorSummary);
--s-colorBreadcrumbsText: var(--s-colorSummaryText);
--s-colorBreadcrumbsLink: var(--s-link);
--s-colorToggler: var(--s-color2);
--s-colorTogglerActive: var(--s-color2);
--s-colorActionsMenu: #fff - (var(--s-colorSummary));
--s-colorActionsMenuActive: #444;
--s-colorActionsMenuButtons: var(--s-colorTab);
--s-colorActionsMenuButtonsText: var(--s-colorTabText);
--s-colorActionsMenuButtonsActive: var(--s-colorTab) + #111;
--s-colorFooter: var(--s-colorSummary);
--s-colorFooterText: var(--s-colorSummaryText);
--s-colorFooterLink: var(--s-link);
--s-colorFooterActive: var(--s-active);
--s-tableHeader: var(--s-colorButtonSubmit);
--s-tableHeaderText: var(--s-colorButtonSubmitText);
--s-tableHeaderLink: var(--s-colorHighlight);
--s-calendarMonthForeground: var(--s-colorTabActiveText);
--s-calendarMonthBackground: #999;
--s-calendarMonthActiveForeground: var(--s-colorTabActiveText);
--s-calendarMonthActiveBackground: var(--s-colorTabActive);
--s-calendarDayForeground: #ccc;
--s-calendarDayBackground: #fff;
--s-calendarDayActiveForeground: var(--s-colorForeground);
--s-calendarDayActiveBackground: var(--s-colorBackgroundLight);
--s-calendarWeekForeground: var(--s-colorForeground);
--s-calendarWeekBackground: transparent;
--s-calendarWeekBorder: 1px solid var(--s-colorBackground);
--s-calendarEventForeground: var(--s-colorTabActiveText);
--s-calendarEventBackground: var(--s-colorTabActiveShade);
--s-calendarEventActiveForeground: var(--s-colorTabActiveText);
--s-calendarEventActiveBackground: var(--s-colorTabActive);
--s-calendarEventBorder: none;
--s-calendarButton: var(--s-colorTabActive);
--s-calendarButtonDisabled: var(--s-colorTab);
}